<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.choxmi.dropsworld.dropsworld">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/FullScreen"
        android:name=".DropsWorldApplication">
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Publisher.StoryBoardPublisher"
            android:label="@string/app_name"
            android:theme="@style/FullScreen">
        </activity>
        <activity android:name=".Publisher.StoryContent"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".Publisher.GamePublisher"
            android:label="@string/app_name"
            android:theme="@style/FullScreen">
        </activity>
        <activity android:name=".Publisher.AssetPublisher"
            android:label="@string/app_name"
            android:theme="@style/FullScreen">
        </activity>
        <activity android:name=".Publisher.QuotePublisher"
            android:label="@string/app_name"
            android:theme="@style/FullScreen">
        </activity>
    </application>

</manifest>